body, html {
	font-size: 13px;
	margin-top: 0px;
	padding-top: 0px;
}

body {
	overflow-y: hidden;
	font-size: 13px;
	background: #ecf0f1;
	font-family: "Roboto", sans-serif;
}

a:hover {
	border-bottom: 2px solid #0096d6;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #777;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #777;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #777;
}

.none-decoration {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-family: "Roboto", sans-serif;
}


#content {
	margin: 32px 8px 0 8px;
}

#content .row {
	margin: 0;
}

.menu-button {
	float: right;
	margin-right: 15px;
	height: 31px;
	width: 20px;
	padding-top: 7.5px;
	font-size: 20px;
	cursor: pointer;
	color: #039be5;
	-webkit-tap-highlight-color: transparent;
}

.menu-button .icon-line {
	display: block;
	height: 4px;
	background: #0696d0;
	margin-bottom: 2px;
	width: 100%;
}

#header #product-name {
	position: fixed;
	top: 0;
	z-index: 1002;
	color: #0696d0;
	display: block;
	font-weight: bold;
	font-size: 15px;
	margin-left: 1rem;
	line-height: 31px;
	border: none;
}

#production:hover {
	border: none;
}

/*-------------- UI for size < tablet ---------------------- */
@media only screen and (max-width: 1024px) {
	.sidebar {
		display: none;
	}
	#content .row .filter {
		display: none;
	}
	#content .row .right {
		margin-left: 3rem;
		margin-top: 1rem;
	}
	#content .row {
		margin-bottom: .5rem;
	}
	#content .my-container .row .view {
		width: 100%;
	}
	#ui-g .row {
		margin-left: 40px !important;
	}
}
/*----------------------------------*/
@media only screen and (max-width: 600px) {
	#footer .page-footer {
		padding: 3px;
	}
	#footer .page-footer .text {
		display: none;
	}
	#footer .page-footer .row {
		margin: 0;
	}
}

input[placeholder] {
	text-overflow: ellipsis;
}

::-moz-placeholder {
	text-overflow: ellipsis;
	font-size: 75%;
} /* firefox 19+ */
input:-moz-placeholder {
	text-overflow: ellipsis;
	font-size: 75%;
}

/* ------------------------------------ MENU BAR ------------------------------------*/
#menu-bar #header-login {
	width: 100%:
}

#menu-bar #header-login>li {
	float: left !important;
}

#menu-bar {
	width: 100%;
	background: #fff;
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #bebebe;
	display: block;
	position: fixed;
	top: 0;
	z-index: 1001;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#menu-bar ul, #menu-bar ul li, #menu-bar ul li a, #menu-bar #menu-button
	{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#menu-bar:after, #menu-bar>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#menu-bar>ul>li {
	float: none;
	width: 100%;
	background: #fff;
}

#menu-bar>ul>li a {
	width: 100%;
	color: #777;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
}

#menu-bar>ul>li>a {
	padding: 7px 15px;
}

#menu-bar>ul>li.open>a {
	background: #f2f2f2;
	color: #333;
}

#menu-bar>ul>li>ul {
	right: auto;
	top: auto;
	opacity: 1;
	display: none;
}

#menu-bar>ul>li>ul.open {
	display: block;
}

#menu-bar ul ul li a {
	box-shadow: none;
	padding: 7px 30px;
}

/* ------------------------------------ FOOTER ------------------------------------*/
/* sticky footer */
.page-footer {
	background-color: #fff;
	border-top: 1px solid #bebebe;
	bottom: 0;
	color: rgba(0, 0, 0, 0.87);
	padding: 10px 0;
	position: fixed;
	width: 100%;
	font-size: 18px;
}

.page-footer .row .col {
	height: 30px;
	padding: 0px;
}

.footer-version {
	width: 100%;
	text-align: right;
}

.img {
	width: 92px;
	height: 24px;
}


/* ------------------------------------ RESPONSIVE ------------------------------------*/
@media screen and (min-width: 100px) {
	/*----------------- FOOTER -----------------*/
	.page-footer .row .img {
		margin: 0 auto;
		background-image: url("#{resource['images/axonlogo-medium.png']}");
		background-size: cover;
		background-image: url("#{resource['images/axonlogo-medium.png']}");
	}
	.page-footer .row {
		margin: 0;
	}
	.page-footer .col.s12.m1.valign-wrapper .img {
		margin: auto;
	}
	.page-footer .col.s12.m9.valign-wrapper {
		height: 100%;
		font-size: 11px;
	}
	.page-footer .col.s12.m9.valign-wrapper div {
		margin: 0 auto;
		text-align: center;
	}
	.page-footer .col.s12.m2.valign-wrapper {
		height: 100%;
	}
	.footer-version {
		text-align: center;
		font-size: 11px;
	}
}

@media screen and (min-width: 480px) {
	/*----------------- FOOTER -----------------*/
	.page-footer .row .img {
		background-image: url("#{resource['images/axonlogo-medium.png']}");
		background-size: cover;
	}
	.page-footer .row {
		margin: 0;
	}
	.page-footer .col.s12.m1.valign-wrapper .img {
		margin: auto;
	}
	.page-footer .col.s12.m9.valign-wrapper {
		height: 100%;
		font-size: 11px;
	}
	.page-footer .col.s12.m9.valign-wrapper div {
		margin: 0 auto;
		text-align: center;
	}
	.page-footer .col.s12.m2.valign-wrapper {
		height: 100%;
	}
	.footer-version {
		text-align: center;
		font-size: 11px;
	}
}

@media screen and (min-width: 601px) {
	/*----------------- FOOTER -----------------*/
	body {
		margin: 0 0 51px;
	}
	.page-footer .row .img {
		margin: 0 auto;
		background-image: url("#{resource['images/axonlogo-medium.png']}");
		background-size: cover;
	}
	.page-footer .row .img {
		margin: 0;
	}
	.page-footer {
		height: 51px;
	}
	.page-footer .row {
		position: relative;
		margin: 0 10px;
	}
	.page-footer .col.s12.m9.valign-wrapper {
		position: absolute;
		left: 95px;
		margin-left: 20px;
	}
	.page-footer .col.s12.m2.valign-wrapper {
		position: absolute;
		right: 10px;
	}
	.page-footer .col.s12.m1.valign-wrapper .img, .page-footer .col.s12.m9.valign-wrapper div
		{
		margin: 0;
	}
	.footer-version {
		text-align: right;
	}
}

@media screen and (min-width: 200px) {
	.content {
		margin: 52px 0 0 0;
	}
	.page-footer .row .img {
		background-image: url("#{resource['images/axonlogo-medium.png']}");
		background-size: cover;
	}
	#menu-bar {
		height: 31px;
		position: fixed;
	}
	/* #menu-bar #menu-button {
		display: none;
	} */
	#menu-bar>ul {
		display: block;
	}
	#menu-bar>ul>li {
		margin: 0 15px;
		float: left;
		display: inline-block;
		width: auto;
	}
	#menu-bar>ul>li:last-child {
		float: right;
	}
	#menu-bar>ul>li>a {
		padding: 0;
		height: 29px;
		line-height: 30px;
		border-bottom: 2px solid transparent;
	}
	#menu-bar>ul>li:hover>a {
		height: 31px;
		color: #333;
		border-bottom: 2px solid #0096d6;
	}
	#menu-bar .name-production {
		color: #0096d6;
		font-weight: bold;
		font-size: 15px;
	}
	#menu-bar>ul>li:hover>a.name-production {
		border: none;
		color: #0096d6;
		height: 50%;
	}
	#menu-bar>ul>li:hover>a.menu-bar-active {
		color: #0096d6;
	}
	#menu-bar>ul>li>ul {
		position: absolute;
		left: -9999px;
		font-size: 12px;
		border: 1px solid #bebebe;
		border-top: 0;
		display: block;
		width: 130px;
	}
	#menu-bar>ul>li:last-child>ul {
		width: 150%;
	}
	#menu-bar>ul>li:hover>ul {
		left: 0;
	}
	#menu-bar>ul>li.open>a {
		background: #fff;
	}
	#menu-bar>ul>li:last-child:hover>ul {
		right: 0;
		left: auto;
	}
	#menu-bar ul ul li a {
		padding: 7px 15px;
		background: #fff;
		white-space: nowrap;
	}
	#menu-bar ul ul li:hover a {
		color: #333;
		background: #f2f2f2;
	}
}

@media screen and (min-width: 768px) {
	/*----------------- FOOTER -----------------*/
	.page-footer .row .img {
		background-image: url("#{resource['images/axonlogo-medium.png']}");
		background-size: cover;
	}
}

@media screen and (min-width: 1024px) {
	/*----------------- FOOTER -----------------*/
	.page-footer .row .img {
		background-image: url("#{resource['images/axonlogo-medium.png']}");
		background-size: cover;
	}
}

@media screen and (min-width: 1280px) {
	/*----------------- FOOTER -----------------*/
	.page-footer .row .img {
		background-image: url("#{resource['images/axonlogo-medium.png']}");
		background-size: cover;
	}
}

@media screen and (min-width: 2048px) {
	/*----------------- FOOTER -----------------*/
	.page-footer .row .img {
		background-image: url("#{resource['images/axonlogo-small.png']}");
		background-size: cover;
	}
}

/* ------------------------------------ CSS ON IE ------------------------------------*/
@media screen and (-ms-high-contrast: active) , ( -ms-high-contrast :
	none) { /* do something to make magic on IE */
}




